.font14 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700
}

.font10 {
    font-size: 12px;
    font-size: 1.2rem
}
.font-b {
    font-weight: 600;
}

.h6 {
    line-height: 0.7
}

.date-font {
    font-size: 24px;
    font-size: 2.4rem;
}
.margin-left20 {
    margin: 0 0 0 20px
}
a {
    color: #2a6496;
}
a:hover {
    text-decoration: none;
    color: #0D2E49;
}

.center {
    margin: 0 auto;
    text-align: center
}

.float-left {
    float: left;
    margin: 0 10px 10px 0
}

html {
    font-size: 62.5%
}

body {
    position: relative;
    padding: 0;
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
    font-size: 16px;
    font-size: 1.6rem
}

h1 {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight:600;
    color: #fff;
    margin: 10px 0 0 0;
}
h1 a,
h1 a:hover {
    color: #FFF;
}

section h1 {
    font-size: 18px;
    font-size: 1.8rem;
    color: #fff;
    margin: 0;
    text-align: center;
    border-left: 8px solid #eebebe;
    color: #555;
    margin: 20px 0 16px 10px;
    margin: 2rem 0 1.6rem 1rem;
    padding: 0 0 0 10px;
    padding: 0 0 0 1rem;
    text-align: left
}

section h2 {
    background: #EE9CA1;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 800;
    color: #FFF;
    margin: 20px 0 16px 0;
    padding: 4px 0 4px 10px;
    border-left: 6px solid #eebebe
}

.font-color-sub {
    color: #ee7677;
    font-weight: 800;
}

ul {
    list-style-position: inside
}

header {
    background: #EE9CA1;
    padding: 15px;
    border-bottom: 1px solid #FFF;
}
header .row {
    margin-left: 0;
}
header .col-xs-8,
header .col-xs-3 {
    padding: 0;
}

header h1 img {
    max-width: 100%;
    height: auto;
    width: auto
}

.icon-twitter {
    float: right;
    margin: 0px;
    padding: 2px;
    border: 2px solid #4AA15F;
    border-radius: 4px;
    width: 39px;
    height: 41px;
    fill: #FFF;
    background: #4AA15F;
}
.btn {
    font-family: 'Pacifico';
    padding: 3px 10px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #FFC1C4;
    font-weight: 400;
    border: none;
}
.btn-default {
    color: #FFF;
    background-color: #FFC1C4;
    font-weight: 400;
    border: none;
}
.dropdown-menu li {
    margin-left: 7px;
    line-height: 2.0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #FFC1C4;
}
.info {
    margin: 6px auto;
    text-align: center
}

.row {
    margin-left: 20px
}

nav {
    margin: 0px 0 0 0;
    background: #FFF;
}

ul.g-nav {
    display: table;
    width: 100%;
    padding: 0
}

ul.g-nav li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 25%;
    border-right: 2px solid #fff;
    border-bottom: 1px solid #ccc
}

ul.g-nav li:last-child {
    border-right: none
}

.g-nav li > a {
    display: block;
    padding: 5px 0 3px 0;
    text-decoration: none;
    background: #eee;
    font-size: 10px;
    font-size: 1rem;
    color: #999
}

.g-nav li > a:hover {
    background: #ee9ca1;
    color: #fff
}

.g-nav li a.current {
    background: #ee9ca1;
    color: #fff;
    border-bottom: none
}

.defs {
    display: none
}

.icon {
    width: 25px;
    height: 25px;
    fill: #ee9ca1
}

.st-head-row.st-head-row-main {
    font-size: 14px;
    font-size: 1.4rem;
}

.twitter-timeline {
    display: none
}

#main-img {
    position: relative;
    top: 100px;
}

#main-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

main {
    margin: 0 10px
}

section {
    max-width: 1080px;
    margin: 0 auto 0 auto;
    padding: 15px 0;
}

#home {
    margin-top: 120px;
}
img.section-img {
    width:100%;
    max-width: 100%;
    height: auto;
}

section p {
    margin: 30px 0 30px 30px;
    margin: 3rem 0 3rem 3rem
}

.margin-b-10 {
    margin-bottom: 10px;
}

.map-img {
    margin: 0 0px 16px 0;
    padding: 0;
}

.notice {
    margin: 10px;
    padding: 10px;
    border: 3px solid #ee9ca1;
    border-radius: 5px
}

.notice-text {
    color: #EB7680;
    font-weight: 600;
}

.notice img {
    width: 100%;
    max-width: 100%;
    height: auto
}

.banner {
    margin: 3px;
    padding: 10px 3px;
    background: #61a173;
    border-radius: 2px;
    color: #fff;
    text-align: center
}



.sponsored {
    background: #ee9ca1;
    color: #fff;
    border-radius: 3px;
    margin: 0 10px 0 0;
    padding: 0px 3px;
    line-height: 1.6
}

.top-footer {
    margin-top: 14px
}

#map-page {
    padding-top: 40px;
}
section.leaflet-control-layers-list {
    padding: 0;
}

.leaflet-control-layers-overlays {
    display: table;
    table-layout: fixed;
    width: 100%
}

.leaflet-control-layers-overlays > div {
    display: table-cell
}

.leaflet-control-layers {
    background: none;
    box-shadow: none;
    border-radius: none
}

.leaflet-control-layers:hover {
    background: none;
    box-shadow: none;
    border-radius: none
}

.leaflet-touch .leaflet-control-layers {
    border: none
}

.ac-container article {
    background: #fff;
    border: 1px solid #ccc
}

.leaflet-control-layers-expanded {
    padding: 0;
    background: none
}

.leaflet-top .leaflet-control {
    margin-top: 0
}

main .leaflet-top .leaflet-control-zoom {
    margin-top: 40px
}

.ac-container {
    margin: 0 auto
}

.ac-container label {
    padding: 10px 6px 10px 2px;
    font-size: 9px;
    font-size: 0.9rem;
    height: 0;
    line-height: 0;
    margin-bottom: 0;
    border: 1px solid #ccc
}

.ac-container label:after,
.ac-container input.menu:checked + label:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0px;
    top: 4px;
    background: transparent url(images/arrow_down.png) no-repeat center center
}

.ac-container input.menu:checked ~ article.ac-large {
    max-height: 151px
}

.menu-item-checkbox,
.menu-item-radio {
    font-size: 10px;
    font-size: 1.0rem;
    margin: 0 0 0 2px
}

.leaflet-right .leaflet-control {
    margin-right: 0
}

input[type=checkbox],
input[type=radio] {
    width: 14px;
    height: 14px;
    vertical-align: text-bottom
}

.ac-large::-webkit-scrollbar {
    width: 10px
}

.ac-large::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee
}

.ac-large::-webkit-scrollbar-tumb {
    border-radius: 10px;
    background: #666
}

.sub-nav {
    margin: 30px 0 0 0
}

ul.sub-nav li {
    width: 25%
}



.nav-tabs li.tab1 a,
.nav-tabs li.tab1.active a,
.nav-tabs li.tab1.active a:hover{
    display: block;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    background: #EE9CA1;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 800;
    color: #FFF;
}

.nav-tabs li.tab2 a,
.nav-tabs li.tab2.active a,
.nav-tabs li.tab2.active a:hover{
    display: block;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    background: #4AA15F;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 800;
    color: #FFF;
}

#tab1 table {
    border: 3px solid #EE9CA1;
}

#tab2 table {
    border: 3px solid #4AA15F;
}

.stacktable th,
.stacktable td {
    padding: 2px 4px
}

#tab1 .stacktable th {
    background: #EE9CA1;
    color: #fff;
    border: 1px solid #fff
}

#tab2 .stacktable th {
    background: #4AA15F;
    color: #fff;
    border: 1px solid #fff
}

.stacktable td {
    border-bottom: 1px solid #ccc
}

.stacktable .font10 {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0 0 0 20px
}

.st-key {
    text-align: left;
    vertical-align: top;
    font-weight:700;
}

#support {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px
}

#slide1,
#slide2 {
    z-index: 500;
    display: none;
    width: 80%;
    position: absolute;
    bottom: 50px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0
}

#footer-nav ul {
    margin: 0
}

#footer-nav li {
    background: #eee;
    font-size: 12px;
    font-size: 1.2rem;
    color: #999;
    display: inline-block;
    padding: 6px;
    margin: 0 2px 0 0px;
    border-radius: 4px 4px 0 0;
    cursor: pointer
}

#footer-nav li:hover {
    background: #ee9ca1;
    color: #fff
}

#footer-nav li.button-active {
    background: #ee9ca1;
    color: #fff
}

#slide-overlay {
    z-index: 400;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.2)
}

.to-top {
    margin: 20px auto;
    text-align: center;
}
footer {
    text-align: center;
    padding: 0px
}

.copyright {
    border-top: 1px solid #ccc;
    font-size: 14px;
    font-size: 1.4rem
}

@media (max-width: 768px) {
    html {
        font-size: 50%
    }
    .icon {
        width: 20px;
        height: 20px
    }
    header {
        padding: 7px 20px 7px 0;
    }

    header h1 {
        font-size: 18px;
        font-size: 1.8rem;
    }
    header h1 img {
        max-width: 40%
    }
    header .col-xs-2 {
        padding: 0;
    }
    .col-xs-1 {
        padding-right: 0;
        margin-top: 3px;
    }
    .icon-twitter {
        width: 26px;
        height: 31px;
    }
    .btn {
        padding: 2px 3px;
        margin-top: 6px;
    }
    .map-img img {
        width: 140px;
        height: auto;
    }
    .notice img {
        width: 110px;
        height: auto;
    }
    #map-page {
        padding-top: 20px;
    }
}

@media (max-width: 560px) {
    ul.sub-nav li {
        width: 50%
    }
}

@media (max-width: 320px) {
    .notice .float-left img {
        width: 110px;
        max-width: 100%
    }
    .leaflet-container .leaflet-control-attribution {
        font-size: 10px
    }
}
